{% extends "index.html" %}

{% block metatitle %}{{ page.title }} | {{ config.title }}{% endblock metatitle %}

{% block title %}
  {{ page.title }} | {{ config.title }}
{% endblock title %}

{% block metadescription %}{% if page.description %}{{ page.description }}{% endif %}{% endblock metadescription %}


{% block content %}
<main class="page">
    <article class="page-content" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="page-content-title" itemprop="name headline">{{ page.title }}</h1>
        {% if page.description %}
        <h2 class="page-content-subtitle" itemprop="name headline">{{ page.description }}</h2>
        {% endif %}
        <div class="page-content-meta">
            <time datetime="{{ page.date | date(format="%+") }}" itemprop="datePublished">{{ page.date | date(format="%B %e, %Y") }}</time>
        </div>
        <div class="page-content-body" itemprop="articleBody">
        {% if page.toc %}
            <ul>
            {% for h1 in page.toc %}
                <li>
                    <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
            {{ page.content | safe }}
        </div>
    </article>
</main>
{% endblock content %}
