<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        {% set henry_css = load_data(path="themes/henry/static/henry.css") %}
        <style>{{ henry_css | safe }}</style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Roboto+Slab|Source+Code+Pro&display=swap">

        {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
        {% endif %}

        {% block extra_head %}
        {% endblock extra_head %}
    </head>

    <body>
        <header>
            <div class="header-content">
                <a class="header-content-title" href="{{ config.base_url }}">{{ config.title }}</a>
            </div>
        </header>

        {% block content %}
        <main class="page">
            <article class="page-content" itemscope itemtype="http://schema.org/BlogPosting">
                <h1 class="page-content-title" itemprop="name headline">{{ section.title }}</h1>
                <div class="page-content-body" itemprop="articleBody">
                    <section>
                        <p>This page contains tldrs about things I've read.</p>
                    </section>
                    <ul>
                        {% for h1 in section.toc %}
                        <li>
                            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                            {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                <li>
                                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    {{ section.content | safe }}
                </div>
            </article>
        </main>
        {% endblock content %}

        <footer>
            <div class="footer-content">
            <div class="footer-content-left">
                <h2 style="color: #424242;">Akitaki</h2>
                <span>黃明瀧, Robin Huang</span>
                <address>robinhuang123@gmail.com</address>
                <article style="margin-top: 10px;">
                    CS undergraduate student at NTHU, Taiwan
                </article>
                {% if config.generate_rss %}
                Subscribe <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">via RSS</a>
                {% endif %}
            </div>
            <div class="footer-content-right">
                {% if config.extra.henry_twitter %}
                <a href="{{ config.extra.henry_twitter }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" width="20">
                        <path fill="#1e1e1e" d="M0 781.864q0 7.32 7.32 13.176 12.2 8.296 43.432 24.4 119.072 61.488 249.856 61.488 162.992 0 296.216 -83.936 63.44 -40.016 112.728 -96.38t78.324 -117.608 43.432 -122.732 13.42 -119.56v-17.08q57.096 -40.992 89.304 -93.696 2.928 -5.856 2.928 -8.784 0 -6.344 -4.88 -11.224t-11.224 -4.88q-3.416 0 -11.712 3.904 -5.856 1.952 -14.396 4.88t-14.64 5.124 -8.052 2.684q12.688 -14.152 26.352 -38.308t13.664 -35.38q0 -6.344 -4.88 -10.98t-11.712 -4.636q-3.904 0 -7.808 2.44 -55.632 29.768 -103.944 40.504 -59.048 -56.12 -141.032 -56.12 -83.936 0 -142.984 58.56t-59.048 141.52q0 14.64 1.952 23.912 -82.472 -6.832 -159.088 -39.528t-137.616 -87.84q-14.152 -13.664 -54.656 -57.096 -5.856 -5.856 -13.664 -5.856 -5.856 0 -12.2 7.808 -12.688 19.032 -20.008 46.604t-7.32 53.924q0 72.712 45.384 126.88l-14.152 -6.832q-12.2 -5.368 -18.056 -5.368 -8.296 0 -13.908 4.88t-5.612 12.688q0 51.24 26.352 97.112t71.248 73.2l-5.856 -.976q-.976 0 -2.684 -.488t-2.684 -.732 -1.464 -.244q-6.344 0 -10.98 4.88t-4.636 10.736q0 .488 .976 5.368 16.592 50.752 55.144 86.132t90.28 47.58q-84.912 52.216 -187.392 52.216 -6.832 0 -21.96 -1.464 -20.496 -.976 -22.448 -.976 -6.344 0 -10.98 4.88t-4.636 11.224z"/>
                    </svg>
                </a>
                {% endif %}
                {% if config.extra.henry_github %}
                <a href="{{ config.extra.henry_github }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="20">
                        <path fill="#1e1e1e" d="M512 0C229.25 0 0 229.25 0 512c0 226.25 146.688 418.125 350.156 485.812 25.594 4.688 34.938-11.125 34.938-24.625 0-12.188-.469-52.562-.719-95.312C242 908.812 211.906 817.5 211.906 817.5c-23.312-59.125-56.844-74.875-56.844-74.875-46.531-31.75 3.53-31.125 3.53-31.125 51.406 3.562 78.47 52.75 78.47 52.75 45.688 78.25 119.875 55.625 149 42.5 4.654-33 17.904-55.625 32.5-68.375-113.656-12.937-233.218-56.875-233.218-253.063 0-55.938 19.969-101.562 52.656-137.406-5.219-13-22.844-65.094 5.062-135.562 0 0 42.938-13.75 140.812 52.5 40.812-11.406 84.594-17.031 128.125-17.219 43.5.188 87.312 5.875 128.188 17.281 97.688-66.312 140.688-52.5 140.688-52.5 28 70.531 10.375 122.562 5.125 135.5 32.812 35.844 52.625 81.469 52.625 137.406 0 196.688-119.75 240-233.812 252.688 18.438 15.875 34.75 47 34.75 94.75 0 68.438-.688 123.625-.688 140.5 0 13.625 9.312 29.562 35.25 24.562C877.438 930 1024 738.125 1024 512 1024 229.25 794.75 0 512 0z"/>
                    </svg>
                </a>
                {% endif %}
            </div>
            </div>
        </footer>
    </body>
</html>
