<figure>
  <picture>
    <source srcset="{{ src }}.webp" type="image/webp" />
    <img src="{{ src }}.png" alt="" style="margin: auto; max-width: 500px; width: 100%;" />
  </picture>
  {% if caption %}
  <figcaption>{{ caption }}</figcaption>
  {% endif %}
</figure>
